<a href="https://colab.research.google.com/github/rlaalsdn0421/PROJECT/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/rlaalsdn0421/PROJECT/main/BTC-USD.csv')
df

            Date          Open  ...     Adj Close        Volume
0     2014-09-17    465.864014  ...    457.334015  2.105680e+07
1     2014-09-18    456.859985  ...    424.440002  3.448320e+07
2     2014-09-19    424.102997  ...    394.795990  3.791970e+07
3     2014-09-20    394.673004  ...    408.903992  3.686360e+07
4     2014-09-21    408.084991  ...    398.821014  2.658010e+07
...          ...           ...  ...           ...           ...
2614  2021-11-13  64158.121094  ...  64469.527344  3.047423e+10
2615  2021-11-14  64455.371094  ...  65466.839844  2.512209e+10
2616  2021-11-15  65521.289063  ...  63557.871094  3.055876e+10
2617  2021-11-16  63721.195313  ...  60161.246094  4.684434e+10
2618  2021-11-17  59967.230469  ...  60276.031250  4.089261e+10

[2619 rows x 7 columns]